* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-admin {
  height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 50px;
  display: flex;
}

.header-admin h1 {
  margin: 0;
}

.header-admin nav {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 5px 50px;
}

.header-admin nav a:hover {
  text-decoration: underline;
}

.profile-pic {
  width: 70px;
  clip-path: circle(50% at 50% 50%);
  border: 1px solid #ffffff;
}
