* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-right {
  display: grid;
  justify-content: space-around;
}
.menu-grid {
  display: flex;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  justify-items: center;
  align-items: center;
}

.menu-grid span {
  word-break: break-all;
  font-size: 30px;
  font-weight: 700;
  word-break: break-all;
}
