*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-right{

        width: 370px;
        height: 830px;
        background-color: #030f44;
        /* padding: 20px 50px 0 50px; */
}
.menu-grid{
    background-color: aliceblue;
   justify-items: center;
}
.menu-grid h1{
    font-size: 30px;
    font-weight: 700;
}
